trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: |
    java -version
  displayName: 'Verify Java'

- task: Maven@3
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'package -DskipTests=true'